@import "../App.scss";


.about-me {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 40px 200px;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.about-me-text {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.about-me-text h2 {
    font-size: 37px;
}
.about-me-text p {
    font-size: 25px;
}