@import "../App.scss";

.navbar{
    width: 100%;
    padding: 25px 0 15px 0;
    margin-bottom: 25px;
    margin-left: 0;
    background-color: $clr-white ;
    text-align: center;
    &-brand{
        font-size: 25px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            height: 50px;
            width: auto;
        }

        @media screen and (max-width: 992px){
            font-size: 20px;
            img {
                height: 40px;
            }
        }

        @media screen and (max-width: 576px){
            img {
                height: 34px;
            }
            font-size: 17px;
        }
    }
    .border-blue {
        border-bottom: 3px solid $clr-red;
        width: 35%; 
        margin: 0 auto; 
        position: relative;
        bottom: -20px;
    }

}